eval "$(devbox generate direnv --print-envrc)"


export TOP_HEAD=$(cd -- "$(dirname -- "${BASH_SOURCE[0]}")" &> /dev/null && pwd)

mkdir -p $TOP_HEAD/.direnv/rustup
export RUSTUP_HOME=/pkg/cargo/rustup/

export PATH=$PATH:$PWD:$PWD/target/debug:$PWD/target/release


export_alias _b "cd $TOP_HEAD && make build; cd -"
export_alias _c "cd $TOP_HEAD && make compile; cd -"
export_alias _r "cd $TOP_HEAD && make run; cd -"
export_alias _t "cd $TOP_HEAD && make test; cd -"
