tidyup
use flake
layout rust
local vimrc

export ENVNAME=rust
export CARGO_HOME="/env/cargo"
export PATH="$PWD/target/debug:$PATH"

export_alias build 'clear && cd $(git rev-parse --show-toplevel) && cargo build'
export_alias run '$(git rev-parse --show-toplevel)/target/debug/$(basename $(git rev-parse --show-toplevel)) $@'

export_alias binsize 'filei=$(git rev-parse --show-toplevel)/target/debug/$(basename $(git rev-parse --show-toplevel)); [[ -f $filei ]] && du -h $filei | cut -f1'
