use flake

export TOP_HEAD="$(pwd)"
export PATH="$PATH:$PWD:$PWD/target/debug:$PWD/target/release"

export_alias _b "cd $TOP_HEAD && make build; cd -"
export_alias _c "cd $TOP_HEAD && make compile; cd -"
export_alias _r "cd $TOP_HEAD && make run; cd -"
export_alias _t "cd $TOP_HEAD && make test; cd -"
